
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
html{
    font-family: "Comfortaa", sans-serif;
}

header nav ul li {
    text-align: center;
}

section img{
    width: 390px ;
}

section h2, p {
    text-align: center;
    font-size: 12px;
}

section div {
    text-align: center;
    color: #FFFFFF;
    border-radius: 157px;
    background-color: #0E8388;
    width: 24%;              /* Ajuste aqui a largura, por exemplo 80% da seção */
    margin: 0 auto;          /* Centraliza horizontalmente */
    padding: 6px;           /* Opcional: espaço interno */
}

